{% extends "base.html" %}

{% block script %}

function handleChecks() {
	$("input[@type='checkbox']").click(function() {
	//	$(this).parent().toggleClass("done");
	
		// get the id# of the todo item
		var todo_id = $(this).parent().attr('id').split('_')[2];

		$.ajax({
			type: "POST",
			url: "update/",
			data: "id=" + todo_id,
			success: function(msg) {
				$("#todoList").html(msg);
				handleChecks();	// new set of checkboxes
								// set ourselves up again. 
								// yay, recursive
			}
		});
	});

}

$(document).ready(function() {

	handleChecks();

});

{% endblock %}


{% block body %}

<div id="new_todo">
	<form action="/todo/create/" method="post" accept-charset="utf-8">
		{{ form.as_p }}
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
</div>

<ul id="todoList">
	{% include 'do/todo_items.html' %}
</ul>

{% endblock %}
