{% extends "base.html" %}

{% block body %}

<div id="new_todo">
	<form action="/todo/create/" method="post" accept-charset="utf-8">
		{{ form.as_p }}
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
</div>

{% if object_list %}
	<ul>
		{% for todo in object_list %}
			<li class="{% if todo.done %}done{% endif %} priority{{ todo.priority }}" id="todo_item_{{ todo.id }}">
				<input type="checkbox" name="todo_status_{{ todo.id }}" id="todo_status_{{ todo.id }}" {% if todo.done %}checked{% endif %} />
				<span>{{ todo.todo }}</span>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>Hooray! Nothing to do!</p>
{% endif %}

{% endblock %}
