{% extends "base.html" %}

{% block script %}

$(document).ready(function() {
	$("input[@type='checkbox']").click(function() {
		$(this).parent().toggleClass("done");
		
		// get the id# of the todo item
		var todo_id = $(this).parent().attr('id').split('_')[2];

		$.ajax({
			type: "POST",
			url: "/todo/update/",
			data: "id=" + todo_id
		});
	});
	
	// reset checkboxes
	$("input[@type='checkbox']").each(function(i) {
		if ($(this).parent().hasClass("done")) {
			this.checked = true;
		} else {
			this.checked = false;
		}
	});
});

{% endblock %}


{% block body %}

<div id="new_todo">
	<form action="/todo/create/" method="post" accept-charset="utf-8">
		{{ form.as_p }}
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
</div>

{% if object_list %}
	<ul>
		{% for todo in object_list %}
			<li class="{% if todo.done %}done{% endif %} priority{{ todo.priority }}" id="todo_item_{{ todo.id }}">
				<input type="checkbox" name="todo_status_{{ todo.id }}" id="todo_status_{{ todo.id }}" />
				<span>{{ todo.todo }}</span>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>Hooray! Nothing to do!</p>
{% endif %}

{% endblock %}
