<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}Todoer{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8"/>
	<script type="text/javascript" charset="utf-8" src="/static/jquery.js"></script>
  </head>
  <body>
    <div id="box">
    	<div id="head"><h1>Todoer</h1></div>
		<div id="content">
			{% block body %}{% endblock %}
		</div>
		<div id="footer"><em>Todoer</em> &mdash; 2008  &mdash; Alex Roberts  &mdash; Powered by Django</div>
    </div>
  </body>
</html>
